@CHARSET "ISO-8859-1";

html {
    background-color: #000000;
}

@font-face { font-family: SpaceAge; src: url('space_age/space age.ttf'); } 
@font-face { font-family: Digital7; src: url('digital-7/digital-7.ttf'); } 

body {
    font-family: "NHaasGroteskTXW01-65Md",Helvetica,Arial,sans-serif!important;
    font-size: 16pt;
    	background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) );
	user-select: none;

}

.horizontal-center {
  margin-top:20px;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#header {
    font-family: SpaceAge;
    border-bottom-style: solid;
    border-color: white;
    overflow: hidden;
    position: absolute
    left:0; right:0;
    height: 89px;
}
.border {
    height: 100%;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-right: 40px;
    overflow: hidden;
    display: block;
    background-color: white;
}

.darkenedButtons {
  opacity:0.1;
}

.roomDescription {
    font-family: Digital7;
    height: 300px;
    width:500px;
    top: 20px;
    left: 1200px;
    border-radius: 8px;
    padding-bottom:10px;
    display: block;
    position:absolute;
    color:white;
    background-repeat: no-repeat;
    background-image: url("images/textUI1.png");
    background-size: 165% 200%;
    background-position: center center;
}

.roomResponses {
    font-family: Digital7;
    height: 300px;
    width: 500px;	
    top: 410px;
    margin-left: 1200px;
    margin-right: 10px;
    padding: 0;
    border-radius: 8px;
    padding-top: 0px;
    padding-left: 20px;
    padding-bottom: 0px;
    padding-right: 20px;
    display: block;
    position:absolute;
    color:white;
    background-repeat: no-repeat;
    background-image: url("images/textUI2.png");
    background-size: 175% 210%;
    background-position: center center;
}

h3 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 32pt;
}

.classButton {
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.sidenav {
  width: 130px;
  position: absolute;
  left:4; top:100px; bottom:0;
  background: #DC7633;
  border-style-right: solid;
  border-color: silver;
  font-size: 26px;
}

.sidenav a {
  padding: 10px 10px 6px 16px;
  text-decoration: none;
  font-size: 22px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight:bold;
  display: block;
}

.sidenav a:hover {
  color: #00FF00;
}

.main {
  position: absolute;
  left: 138px;
  top: 100px;
  right:0;
  bottom:0;
  font-size: 28px; /* Increased text to enable scrolling */
}

.iFrame {
    position:absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 100%;
}

.console {
    position:absolute;
    left: 10px;
    bottom: 0;
    right:0;
    height: 100px;
    background-color: #DC7633;
    margin: 0px 40px 15px;
    border-style: solid;
    border-color: silver;
    border-radius: 25px;
}

#time {
    font-size:32px; 
    font-style: italic; 
    margin-top:20px; 
    padding-right:40px; 
    color:white; 
    float:right; 
}

th, td {
    border-bottom: 1px solid #ddd;
}

#bridgeDamageLogTable {
    color: white;
    position:relative; 
    top:100; left:120;
    font-size: 40px;
}

#bridgeDamageLogButton {
    font-size: 12px;
    padding: 14px 40px;
    background-color: white; color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    position:relative;
    left:310; top:100;
}

#bridgeDamageLogImage {
   display: block;
   width: 100%;
   left:0;
   top:0;
   position:absolute;
}